.header{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 67px 287px 0 132px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 32px;
    color: #3D37F1;
    text-transform: capitalize;
    font-family: 'Lato';
    margin-right: 30px;
}
.logo span{
    color: #4B647E;
}
.navigatsia{
    font-size: 20px;
    color: #3D37F1;
    font-family: 'Lato';
    text-transform: uppercase;
    width: 580px;
    display: flex;
    justify-content: space-between;
}
.fas{
    display: none;
}
/* section */
.topsection{
    max-width: 1700px;
    width: 90%;
    margin: 0 auto;
    margin-top: 260px;
    display: flex;
    justify-content: space-between;
}
.leftside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 480px;
}
.lsidetitle{
    font-size: 78px;
    color: #534D4D;
    font-family: 'Lato';
    max-width: 600px;
    width: 100%;
    text-transform: capitalize;
}
.lsideparagraph{
    font-size: 22px;
    color: #534D4D;
    text-transform: capitalize;
    font-family: 'Roboto';
}
.bluebox{
    max-width: 260px;
    width: 100%;
    max-height: 76px;
    height: 100%;
    background-color: #3D37F1;
    border-radius: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bluebox img{
    width: 30px;
    margin-right: 10px;
}
.bluebox p{
    font-size: 23px;
    color: #FFFFFF;
    font-family: 'Roboto';
    text-transform: capitalize;
    margin-left: 10px;   
}
.rightside img{
    max-width: 800px;
    width: 100%;
}
/* bottom section */
.bottomshead{
    max-width: 712px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.services{
    font-size: 20px;
    color: #3D37F1;
    font-family: 'Lato';
    text-transform: uppercase;
    margin-top: 350px;
}
.bottomshead h3{
    font-size: 40px;
    color: #5A5454;
    font-family: 'Lato';
    margin-top: 17px;
    margin-bottom: 21px; 
    text-transform: capitalize;
}
.offer{
    font-size: 18px;
    color: #747474;
    font-family: 'Roboto';
    max-width: 710px;
    width: 100%;
    text-align: center;
}
/* bottom side */
.bottomside{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 67px;
    display: flex;
    flex-wrap: wrap;
}
.boxes{
    background-color: #FBBA77;
    max-width: 360px;
    width: 100%;
    height: 451px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}
.boxes img{
    max-width: 100px;
    width: 100%;
    margin-top: 88px;
}
.boxes h5{
    font-size: 22px;
    color: #FFFFFF;
    font-family: 'Lato';
    text-transform: capitalize;

}
.boxes p{
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Roboto';
    text-transform: capitalize;
    text-align: center;
    line-height: 26px;
}
.whitebox{
    border: 3px solid #FFFFFF;
    border-radius: 23px;
    max-width: 131px;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxes:nth-child(2){
    background-color: #41EAE3;
}
.boxes:nth-child(3){
    background-color: #69529F;
}
.boxes:nth-child(4){
    background-color: #4386D2;
}
.boxes:nth-child(5){
    background-color: #A5A2F6;
}
.boxes:nth-child(6){
    background-color: #FF8088;
}
